.a{display: flex;
    justify-content: center;
margin-bottom: 117px;}
    .b{margin: 0 90px;}
    .two{justify-content: center;
    display: flexbox;
margin-bottom: 110px;}
    .c{margin: 0 550px;
        font-family: 'Great Vibes', cursive; }
        .section7{ display:flex;
            justify-content:center;
            margin-top: 100px;
            font-family: 'Dancing Script', cursive;
            font-family: 'Roboto', sans-serif;}



    .d{margin: 0 500px;}
    .section2{
        display:flex;
        justify-content:center;
        
        height: 50px;
       }
       .headermini{
        margin:0 180px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
       }
       .headermini1{ 
        margin:0 120px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
       }
       .headermini2{
        margin:0 210px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
       }
       .text{
        display:flex;
        justify-content:center;
       }
       .p{
        margin:0 100px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
opacity: 0.5;
       }
       .section3{
        display:flex;
        justify-content:center;
        margin-top: 100px;
       }
       .headermi{
           justify-content: center;
        margin:0 220px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
       }
       .headermi1{
            margin:0 140px;
            font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
       }
       .headermi2{
        margin:0 240px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
       }
       .text1{
        display:flex;
        justify-content:center;
        margin-bottom: 100px;
       }
       .p9{
        margin:0 100px;
        font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
opacity: 0.5;
       }
       .photo{
        margin:0 60px ;
       
       }
       .box{display: flex;
    justify-content: center;}
    .text2{
        display:flex;
        justify-content:center;
        margin:0 210px ; 
        margin-bottom: 100px;
        opacity: 0.5;
       }
       .picture{display: flex;
       }
       
       .inpicturetwo{margin-left: 20px;}
       .twa{justify-content: center;
        display: flexbox;
    margin-bottom: 110px;}
  .conteiner{display: flex;
      height: 100px;
    ;
justify-content: space-between;
margin-bottom: 130px;}
    .logo{height: 100px;width: 100px;display: flex;
    justify-content: center; align-items: center ;
    font-family: 'Righteous', cursive;font-size: 30px;}
    .menu{height: 100px;width: 700px;display: flex;justify-content: center;}
    .nal{height: 100px;width: 100px;
    justify-content: center;
display: flex;
align-items: center;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-size:20px ;}