.container{height: 100px;
    width: 100px;
    background-color:green;
    margin-bottom: 100px;
margin:0 auto;
position: relative;
animation-name: develop;
animation-duration: 5s;
 animation-iteration-count: infinite;
}
@keyframes develop{
0%{top:0px ; left:0px ;}
8%{top:200px ; left:0px ;}
 16%{top: 200px; left:-150px ;}
24%{top:300px ;left:-150px ;}
32%{top:300px ;left:-250px ;}
40%{top:400px ;left:-250px;} 
     48%{top:400px ;left:300px ;}
54%{top:200px ;left:300px ;}
62%{top:200px ;left:150px ;}
70%{top:100px ;left:150px ;}
80%{top: 100px;left:100px ;}
90%{top:0px ;left:100px ;}
100%{top:0px ;left:0px ;} 